/* stylesheet for build-a-blog project 
   Matthew G. Copple
*/
ul {
    list-style: none;
}
.error {
    color: red;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}