{% extends "base.html" %}

 {% block style %}
<style type="text/css">
    .error {
        color: red;
    }
</style>
{% endblock %} 

{% block content %}
<h1>Register to Get It Done!</h1>
<form action="/register" method="post">
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input name="email" id="email" type="text" value="{{ email }}"/></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input name="password" id="password" type="password" /></td>
            </tr>
            <tr>
                <td><label for="verifyPassword">Verify Password:</label></td>
                <td><input name="verifyPassword" id="verifyPassword" type="password" /></td>
            </tr>
        </table>
    </fieldset>
    <br />
    <input type="submit" value="Register" />
</form>


{% endblock %}