{% extends "base.html" %}

{% block content %}
<h1>Register for Blogz!</h1>
<form action="/signup" method="post">
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input name="username" id="username" type="text" value="{{ username }}"/></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input name="password" id="password" type="password" /></td>
            </tr>
            <tr>
                <td><label for="verifyPassword">Verify Password:</label></td>
                <td><input name="verifyPassword" id="verifyPassword" type="password" /></td>
            </tr>
        </table>
    </fieldset>
    <br />
    <input type="submit" value="Sign Up!" />
</form>


{% endblock %}